body{
    background-color: black;
}

h1{
    color: chartreuse;
    margin-left: 30rem;
}



.input{
    margin-left: 15rem;
    margin-top: 5rem;
}

.convert{
    margin-left: 32.5rem;
    margin-top: 5.15rem;
}

p{
    color: bisque;
    font-size: medium;
    margin-left: 14rem;
}